html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 50px;
}

.done-form {
    display: inline;
}

.footer {
  position: relative;
  margin-top: -50px; /* negative value of footer height */
  height: 50px;
  clear:both;
  padding-top:20px;
} 

#toggle-login {
  margin-top: 30px;
}

#toggle-login h4 {
  line-height: 150%;
}
